# Compile code
target/

# Node modules
src/main/app/node_modules/

# api keys
.env

*keys.js

# app engine resource files
src/main/resources/

# Everything in the webapp folder except the WEB-INF folder.
src/main/webapp/
!src/main/webapp/WEB-INF
