body {
  font-family: 'Open Sans';
  font-size: 1.5rem;
}

img {
  padding: 5px;
  border: 1px solid #ccc;
}

.tabs {
  font-size: 0.5em;
}

.dropdown-item {
  font-size: 3.5rem;
  line-height: 2;
}

.dropdown-content {
  background-color: #fff;
  border-radius: 4px;
  padding-left: 18rem;
  padding-right: 18rem;
}
